<!DOCTYPE html>
<html>
  <head>
    <title>SpartaDeviseAssetPipeline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/nav' %>
    <div class="container">
      <%= yield %>
      <a href="#" onclick="this.style.backgroundColor='#990000'">Paint it red inline</a>
      <a href="#" onclick="paintIt(this, '#990000')">Paint it red coffeescript</a>
    </div>
  </body>
</html>
