<!DOCTYPE html>
<html>
  <head>
    <title>SpartaDeviseAssetPipeline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/nav' %>
    <div class="container">
      <%= yield %>
      <a href="#" onclick="this.style.backgroundColor='#990000'">Paint it red inline</a>
      <h2>Javascript stuff</h2>
      <p><button class="ui-button" id="show">Show</button></p>
      <p><button class="ui-button" id="hide">Hide</button></p>
    </div>
    <div class="container" id="test">
      <ul>
        <li>Test</li>
      </ul>
    </div>
  </body>
</html>
